.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;

    background-color: #0b0c10;
    color: #fff;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #303030;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        padding: 1em;
    }

    &__title {
        font-size: 1.3rem;
        align-self: center;
    }
}