@import "../../styles/styles.scss";

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 2em;
  background-color: $footer-backgroud;

  &__square {
    width: 7rem;
    padding: 0.3em 0.8em;
    font-size: 1.6rem;
    font-weight: bold;
    border: 1.5px solid $lighter-text;
    color: $lighter-text;
    text-transform: uppercase;
  }

  &__btn {
    position: relative;
    background: none;
    padding: 1em 4em;
    border: 1.5px solid $lighter-text;
    align-self: center;
    text-transform: uppercase;
    border-radius: 5%;
    color: $light-text;
    font-weight: bold;
  }

  &__arrow {
    position: absolute;
    left: 45%;
    top: -40%;
    fill: $light-text;
    transform: scale(0.15);
  }
}
