@import "../../styles/styles.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 3.5em;
  background-color: $footer-backgroud;

  &__square {
    position: relative;
    width: 7rem;
    padding: 0.3em 0.8em;
    font-size: 1.6rem;
    font-weight: bold;
    color: $lighter-text;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: border 0.2s, color 0.2s;

    &:hover {
      color: $light-text;

      span::before {
        border: 1px solid $hover-color;
        animation: rotate-border 1s;
      }
    }

    span::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $lighter-text;
    }
  }

  &__btn {
    position: relative;
    background: none;
    padding: 1em 4em;
    border: 1.5px solid $lighter-text;
    text-transform: uppercase;
    border-radius: 5%;
    color: $light-text;
    font-weight: bold;
  }

  &__arrow {
    position: absolute;
    left: 45%;
    top: -40%;
    fill: $light-text;
    transform: scale(0.15);
    transition: transform 0.2s;
  }

  &__arrow--rotate {
    transform: scale(0.15) rotate(180deg);
  }

  &__options {
    position: relative;
  }

  &__option {
    text-align: left;
    background: none;
    line-height: 1.1;
    margin-bottom: 0.5em;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $hover-color;
    }
  }

  &__options-frame {
    position: absolute;
    top: -200%;
    left: 0;
    right: 0;
    transform: translateY(130%);
    padding: 1.2em;
    background-color: white;
    color: $footer-backgroud;
    transition: transform 0.4s;
    z-index: -1;

    &--active {
      transform: translateY(0);
    }
  }

  &__large {
    display: none;
  }
}

@keyframes rotate-border {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 960px) {
  .footer {
    &__btn {
      padding: 1em 7em;
      border: 1.5px solid $lighter-text;
    }

    &__option {
      font-size: 1.2rem;
    }

    &__arrow {
      left: 30%;
      top: -130%;
      transform: scale(0.08);
    }

    &__large {
      display: block;
      color: $lighter-text;
      font-size: 2rem;
    }
  }
}
