@import "../../styles/styles.scss";

.third-block {
  color: $main-text;
  padding: 3em;

  &__title {
    text-transform: uppercase;
    margin-bottom: 3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__content {
  }
}
