@import "../../styles/styles.scss";

.third-block {
  color: $main-text;
  padding: 2em;

  &__title {
    text-transform: uppercase;
    margin-bottom: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
