@import "../../styles/styles.scss";

.third-block {
  color: $main-text;
  padding: 1.5em 4em;

  &__title {
    text-transform: uppercase;
    margin-bottom: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__content {
    color: $light-text;
    text-align: center;
  }
}
