@import "../../styles/styles.scss";

.title {
  text-align: center;
  margin-top: 1em;
  color: $main-text;

  &__header {
    position: relative;
    font-size: 2rem;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 30%;
      height: 1.5px;
      left: 50%;
      margin-top: 0.4em;
      transform: translateX(-50%);
      background-color: $main-text;
    }
  }
}
