//text
$main-text: #fff;
$light-text: #a4a7b6;
$lighter-text: #2a2d35;

//background
$header-background: #0b0c10;
$logo-background: #303030;
$main-background: #2a2d36;
$footer-backgroud: #15161a;

//hover
$hover-color: #e88301;
