<section class="first-block">
    <h2 class="first-block__title">blok pierwszy</h2>
    <div class="first-block__options">
        <div class="first-block__option">
            <label class="first-block__radio-btn">
                <input type="radio" name="options" value="first" (change)="onOptionChange('first')">
                <span>Opcja pierwsza</span>
            </label>
        </div>

        <div class="first-block__option">
            <label class="first-block__radio-btn">
                <input type="radio" name="options" value="second" (change)="onOptionChange('second')">
                <span>Opcja druga</span>
            </label>
        </div>

        <div class="first-block__option">
            <label class="first-block__radio-btn">
                <input type="radio" name="options" value="random" (change)="onOptionChange('random')">
                <span>Opcja losowa</span>
            </label>
        </div>
    </div>
</section>